$color-gris: rgb(215, 215, 215);
$color-gris-secundario: rgb(195, 195, 195);
$color-gris-terciario: rgb(180, 180, 180);

$color-rojo: rgb(215, 35, 35);
$color-rojo-secundario: rgb(200, 35, 35);
$color-rojo-terciario: rgb(190, 35, 35);

$color-negro: black;
$color-negro-secundario: rgb(48, 48, 48);
$color-negro-terciario: rgb(80, 80, 80);

$color-blanco: white;
$color-blanco-secundario: rgb(245, 245, 245);
$color-blanco-terciario: rgb(236, 236, 236);

///////////////////////////////////////////////

$color-fondo-oscuro: #202020;