$color-gris: rgb(218, 218, 218);
$color-gris-secundario: rgb(209, 209, 209);
$color-gris-terciario: rgb(199, 199, 199);

$color-rojo: rgb(214, 35, 35);
$color-rojo-secundario: rgb(201, 33, 33);
$color-rojo-terciario: rgb(190, 32, 32);

$color-negro: black;
$color-blanco: white;