@import "colores";

.boton {
    font-size: 18px;
    font-weight: 500;
    outline: none;
    width: 80%;
    padding: 8px 0px;
    border: none;
    border-radius: 10px;
    text-align: center;

    &--gris {
        background: $color-gris;
        color: rgb(71, 71, 71);
        cursor: pointer;

        i {
            color: rgb(71, 71, 71);
        }

        &:active {
            background: rgb(189, 189, 189);
        }
    }
}