.transicion-izquierda-enter{
    overflow: hidden;
    z-index: 10000;
    opacity: 0;
    transform: translateX(20px);
  }

  .transicion-izquierda-enter-active{
    transition: all 0.5s;
  }

  .transicion-izquierda-leave{
    overflow: hidden;
    z-index: 10000;
    transition: all 0.5s;
    opacity: 1;
    transform: translateX(0px);
  }

  .transicion-izquierda-leave-active{
    opacity: 0;
    transform: translateX(20px);
  }

  ///////////////////////////////////////////

  .transicion-derecha-enter{
    overflow: hidden;
    z-index: 10000;
    opacity: 0;
    transform: translateX(-20px);
  }

  .transicion-derecha-enter-active{
    transition: all 0.5s;
  }

  .transicion-derecha-leave{
    overflow: hidden;
    z-index: 10000;
    transition: all 0.5s;
    opacity: 1;
    transform: translateX(0px);
  }

  .transicion-derecha-leave-active{
    opacity: 0;
    transform: translateX(-20px);
  }

  ///////////////////////////////////////////

  .transicion-aparecer-enter {
    transform: scale(0);
    opacity: 0;
  }

  .transicion-aparecer-enter-active {
    transition: 0.2s all;
  }