@import 'estilos-formulario';
@import 'estilos-boton';
@import 'estilos-boton-alerfityjs';
@import 'estilos-encabezado';
@import 'transicion';

.central {
    @extend %flex-center;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}