@import 'estilos-formulario';
@import 'estilos-boton';
@import 'estilos-boton-alerfityjs';
@import 'estilos-encabezado';
@import 'transicion';

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}